body {
    background-color: #f0f5fc;
    color: rgb(0, 0, 0);
    font-family: sans-serif;
}
footer{
    background-color: #8bb1eb;
    color: rgb(226, 217, 217);
    position: fixed;
    bottom: 0%;
    width: 100%;
    height: 2rem;
}
footer p {
    text-align: center;
    font-size: 0.6rem;
    margin-top: o.5rem;
}
#container {
    display: flex;
}
.cartao {
    margin: 1rem 1rem;
    background-color: #99b8e5;
}
